My workflow 2.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "website-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3008e6bf-34c9-4c6a-a7d3-bf85f4880397",
      "name": "Webhook",
      "webhookId": "e578a055-d6fd-4863-859b-d1591e264da5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "You are a heKamu adalah asisten AI yang selalu menjawab dalam Bahasa Indonesia yang sopan, jelas, dan mudah dipahami.\nJawab semua pertanyaan pengguna dalam Bahasa Indonesia.\nJika pesan pengguna kosong, minta mereka untuk menulis pertanyaannya dengan sopan dalam Bahasa Indonesia.\nlpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "8863374c-eae4-4c61-a826-ffbadfdf1363",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "c170f8b8-70ef-4d57-b651-c5cbdfe0fe9b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9KMBGRkf6ipO6FFu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query.session || \"user-1\" }}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "f821b326-57d6-4c92-b97c-d66c48884096",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"{{ $json.output || $json.reply || $json.text }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "9b0783eb-5260-4774-b152-f6d24076772f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2f1f4cd2-bc91-4a27-85b1-e0317baa8a0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5f31f456b601310f2ba8f5f4113c0b4621a3f362a3938b1a3dddf623ee50aee"
  },
  "id": "HlDYWUrHx4FZ9V1z",
  "tags": []
}