workflow Deyee.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "79da72dd-6edb-4437-b785-8f2cb8b66f87",
      "name": "Telegram Trigger",
      "webhookId": "c28b9353-8964-4ff2-a13a-b24c109ed38c",
      "credentials": {
        "telegramApi": {
          "id": "taC1Gi9WydDjY3lX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah agen AI, Anda perlu menjawab pertanyaan Pengguna  {{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "ff6eccbd-fc98-4d04-9907-36c7972311da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "87dbaa61-7b42-44f0-bf75-a2a4a746b673",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9KMBGRkf6ipO6FFu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "6059f6df-3801-4c68-9475-f416164bf1b5",
      "name": "Send a text message",
      "webhookId": "31c83ed2-ffd7-49ed-bcf6-1140e4be3226",
      "credentials": {
        "telegramApi": {
          "id": "taC1Gi9WydDjY3lX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "60b9bb4b-e176-4335-96d0-17c18b3636af",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7718b7d4-ae4f-4835-ae6b-696aec72450a",
  "meta": {
    "instanceId": "e5f31f456b601310f2ba8f5f4113c0b4621a3f362a3938b1a3dddf623ee50aee"
  },
  "id": "UcFq3SZVcEDlsjdr",
  "tags": []
}